<div class="tvx-container vierkant">
  <section class="tvx-banner vliegwinkel">
    <a href="#" class="logo">
      <img src="https://www.vliegwinkel.nl/Cms_Data/Sites/BudgetAir/Sites/VliegWinkel/Themes/Default/images/logo.png">
    </a>

    <div class="box">
      <nav class="tabs">
        <ul>
          <li class="active"><a href="#">Retour</a></li>
          <li><a href="#">Enkele reis</a></li>
        </ul>
      </nav>

      <div class="content">
        <form method="post">
          <label for="from">Van</label>
          <input type="text" name="from" id="from">

          <label for="to">Naar</label>
          <input type="text" name="to" id="to">

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-half">
              <label for="start">Heen</label>
              <input type="text" name="start" id="start">
            </div>

            <div class="col-half">
              <label for="end">Terug</label>
              <input type="text" name="end" id="end">
            </div>
          </div>

          <div class="row">
            <div class="col-third">
              <label for="adults">Volw. 12+ jaar</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>

            <div class="col-third">
              <label for="kids">Kinderen 2-11 jaar</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>

            <div class="col-third">
              <label for="babies">Baby's 0-1 jaar</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>
          </div>

          <input type="submit" value="Zoeken">
        </form>
      </div>
    </div>
  </section>
</div>

<div class="tvx-container grote-rechthoek">
  <section class="tvx-banner budget-air">
    <a href="#" class="logo">
      <img src="https://www.budgetair.nl/Cms_Data/Sites/BudgetAir/Sites/BudgetAir-NL-NL/Themes/Default/images/logo.png">
    </a>

    <div class="box">
      <nav class="tabs">
        <ul>
          <li class="active"><a href="#">Retour</a></li>
          <li><a href="#">Enkele reis</a></li>
        </ul>
      </nav>

      <div class="content">
        <form method="post">
          <label for="from">Van</label>
          <input type="text" name="from" id="from">

          <label for="to">Naar</label>
          <input type="text" name="to" id="to">

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-half">
              <label for="start">Heen</label>
              <input type="text" name="start" id="start">
            </div>

            <div class="col-half">
              <label for="end">Terug</label>
              <input type="text" name="end" id="end">
            </div>
          </div>

          <div class="row">
            <div class="col-third">
              <label for="adults">Volw. 12+ jaar</label>
              <input type="text" name="adults" id="adults">
            </div>

            <div class="col-third">
              <label for="kids">Kinderen 2-11 jaar</label>
              <input type="text" name="kids" id="kids">
            </div>

            <div class="col-third">
              <label for="babies">Baby's 0-1 jaar</label>
              <input type="text" name="babies" id="babies">
            </div>
          </div>

          <input type="submit" value="Zoeken">
        </form>
      </div>
    </div>
  </section>
</div>

<div class="tvx-container geintegreerde-rechthoek">
  <section class="tvx-banner budget-air">
    <a href="#" class="logo">
      <img src="http://affiliate.cheaptickets.nl/img/logo_cheaptickets_300x250.png">
    </a>

    <div class="box">
      <nav class="tabs">
        <ul>
          <li class="active"><a href="#">Retour</a></li>
          <li><a href="#">Enkele reis</a></li>
        </ul>
      </nav>

      <div class="content">
        <form method="post">
          <label for="from">Van</label>
          <input type="text" name="from" id="from">

          <label for="to">Naar</label>
          <input type="text" name="to" id="to">

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-half">
              <label for="start">Heen</label>
              <input type="text" name="start" id="start">
            </div>

            <div class="col-half">
              <label for="end">Terug</label>
              <input type="text" name="end" id="end">
            </div>
          </div>

          <div class="row">
            <div class="col-third">
              <label for="adults">Volw. 12+ jaar</label>
              <input type="text" name="adults" id="adults">
            </div>

            <div class="col-third">
              <label for="kids">Kinderen 2-11 jaar</label>
              <input type="text" name="kids" id="kids">
            </div>

            <div class="col-third">
              <label for="babies">Baby's 0-1 jaar</label>
              <input type="text" name="babies" id="babies">
            </div>
          </div>

          <input type="submit" value="Zoeken">
        </form>
      </div>
    </div>
  </section>
</div>

<div class="tvx-container horizontal banner">
  <section class="tvx-banner vliegwinkel">
    <div class="box">
      <nav class="tabs">
        <ul>
          <li class="active"><a href="#">Retour</a></li>
          <li><a href="#">Enkele reis</a></li>
        </ul>
      </nav>

      <div class="content">
        <form method="post">
          <div class="row">
            <div class="col-1">
              <label for="start">Van</label>
            </div>

            <div class="col-3">
              <input type="text" name="start" id="start">
            </div>

            <div class="col-1">
              <label for="end">Heen</label>
            </div>

            <div class="col-3">
              <input type="text" name="end" id="end">
            </div>

            <div class="col-1">
              <label>Volw.</label>
            </div>

            <div class="col-4">
              <a href="#" class="logo">
                <img src="https://www.vliegwinkel.nl/Cms_Data/Sites/BudgetAir/Sites/VliegWinkel/Themes/Default/images/logo.png">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-1">
              <label for="start">Naar</label>
            </div>

            <div class="col-3">
              <input type="text" name="start" id="start">
            </div>

            <div class="col-1">
              <label for="end">Terug</label>
            </div>

            <div class="col-3">
              <input type="text" name="end" id="end">
            </div>

            <div class="col-1">
              <input type="text">
            </div>

            <div class="col-4">
              <input type="submit" value="Zoeken" class="small">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<div class="tvx-container horizontal leaderboard">
  <section class="tvx-banner horizontal cheaptickets">
    <div class="box">
      <nav class="tabs">
        <ul>
          <li class="active"><a href="#">Retour</a></li>
          <li><a href="#">Enkele reis</a></li>
        </ul>
      </nav>

      <div class="content">
        <form method="post">
          <div class="row">
            <div class="col-1">
              <label for="start">Van</label>
            </div>

            <div class="col-3">
              <input type="text" name="start" id="start">
            </div>

            <div class="col-1">
              <label for="end">Heen</label>
            </div>

            <div class="col-3">
              <input type="text" name="end" id="end">
            </div>

            <div class="col-1">
              <label>Volw.</label>
            </div>

            <div class="col-4">
              <a href="#" class="logo">
                <img src="http://affiliate.cheaptickets.nl/img/logo_cheaptickets_300x250.png">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-1">
              <label for="start">Naar</label>
            </div>

            <div class="col-3">
              <input type="text" name="start" id="start">
            </div>

            <div class="col-1">
              <label for="end">Terug</label>
            </div>

            <div class="col-3">
              <input type="text" name="end" id="end">
            </div>

            <div class="col-1">
              <input type="text">
            </div>

            <div class="col-4">
              <input type="submit" value="Zoeken" class="small">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

<div class="tvx-container skyscraper">
  <section class="tvx-banner cheaptickets">
    <a href="#" class="logo">
      <img src="http://affiliate.cheaptickets.nl/img/logo_cheaptickets_300x250.png">
    </a>

    <div class="box">
      <nav class="tabs">
        <ul>
          <li class="active"><a href="#">Retour</a></li>
          <li><a href="#">Enkele reis</a></li>
        </ul>
      </nav>

      <div class="content">
        <form method="post">
          <label for="from">Van</label>
          <input type="text" name="from" id="from">

          <label for="to">Naar</label>
          <input type="text" name="to" id="to">

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-half">
              <label for="start">Heen</label>
              <input type="text" name="start" id="start">
            </div>

            <div class="col-half">
              <label for="end">Terug</label>
              <input type="text" name="end" id="end">
            </div>
          </div>

          <div class="row">
            <div class="col-third">
              <label for="adults">Volw. 12+ jaar</label>
              <input type="text" name="adults" id="adults">
            </div>

            <div class="col-third">
              <label for="kids">Kinderen 2-11 jaar</label>
              <input type="text" name="kids" id="kids">
            </div>

            <div class="col-third">
              <label for="babies">Baby's 0-1 jaar</label>
              <input type="text" name="babies" id="babies">
            </div>
          </div>

          <input type="submit" value="Zoeken">
        </form>
      </div>
    </div>
  </section>
</div>

<div class="tvx-container brede-skyscraper">
  <section class="tvx-banner budget-air">
    <a href="#" class="logo">
      <img src="http://affiliate.cheaptickets.nl/img/logo_cheaptickets_300x250.png">
    </a>

    <div class="box">
      <nav class="tabs">
        <ul>
          <li class="active"><a href="#">Retour</a></li>
          <li><a href="#">Enkele reis</a></li>
        </ul>
      </nav>

      <div class="content">
        <form method="post">
          <label for="from">Van</label>
          <input type="text" name="from" id="from">

          <label for="to">Naar</label>
          <input type="text" name="to" id="to">

          <div class="clearfix"></div>

          <div class="row">
            <div class="col-half">
              <label for="start">Heen</label>
              <input type="text" name="start" id="start">
            </div>

            <div class="col-half">
              <label for="end">Terug</label>
              <input type="text" name="end" id="end">
            </div>
          </div>

          <div class="row">
            <div class="col-third">
              <label for="adults">Volw. 12+ jaar</label>
              <input type="text" name="adults" id="adults">
            </div>

            <div class="col-third">
              <label for="kids">Kinderen 2-11 jaar</label>
              <input type="text" name="kids" id="kids">
            </div>

            <div class="col-third">
              <label for="babies">Baby's 0-1 jaar</label>
              <input type="text" name="babies" id="babies">
            </div>
          </div>

          <input type="submit" value="Zoeken">
        </form>
      </div>
    </div>
  </section>
</div>
