<div class="qs-container qs-horizontal <%=options.layout%> <%=options.label%>">
  <div class="qs-bnr <%=options.label%>">

    <!-- <nav class="qs-tabs">
      <ul>
        <li class="active retour"><a href="#"><%=getLabel('retour')%></a></li>
        <li class="single"><a href="#"><%=getLabel('single')%></a></li>
      </ul>
    </nav> -->

    <form method="get" class="qs" action="<%=postURL()%>" target="_blank">

      <div class="qs-row">

        <div class="qs-col-3 qs-center qs-logo qs-fill">
          <div class="qs-inner">
            <a href="<%=homepageURL()%>">
              <img alt="logo" src="<%=options.baseURL%>/assets/img/logo-<%=options.label%>.png">
            </a>
          </div>
        </div>

        <div class="qs-col-3 qs-fill">

          <div class="qs-well">

            <div class="qs-row">

              <div class="qs-col-4">
                <label for="from"><%=getLabel('from')%></label>
              </div>

              <div class="qs-col-8 qs-last">
                <input class="qs" type="text" name="from" id="from" data-target="#dep_apcode" value="<%=options.prefillfrom%>" autocomplete="off">
                <input type="hidden" name="<%=getParam('dep_apcode')%>" id="dep_apcode" value="<%=options.prefillfromcode%>">
              </div>

            </div><!-- End row -->

            <div class="qs-row">

              <div class="qs-col-4">
                <label for="to"><%=getLabel('to')%></label>
              </div>

              <div class="qs-col-8 qs-last">
                <input class="qs" type="text" name="to" id="to" data-target="#des_apcode" value="<%=options.prefillto%>" autocomplete="off">
                <input type="hidden" name="<%=getParam('des_apcode')%>" id="des_apcode" value="<%=options.prefilltocode%>">
              </div>

            </div><!-- End row -->

          </div><!-- End well -->

        </div><!-- End col-3 -->

        <div class="qs-col-3 qs-fill">

          <div class="qs-well">

            <div class="qs-row">

              <div class="qs-col-4">
                <label for="vertrekdate"><%=getLabel('departure')%></label>
              </div>

              <div class="qs-col-8 qs-last">
                <input type="text" id="vertrekdate" name="<%=getParam('vertrekdate')%>" data-type="calendar" placeholder="<%=getDateFormat()%>">
              </div>

            </div><!-- End row -->

            <div class="qs-row">

              <div class="qs-col-4">
                <label for="retourdate"><%=getLabel('arrival')%></label>
              </div>

              <div class="qs-col-8 qs-last">
                <input type="text" id="retourdate" name="<%=getParam('retourdate')%>" data-type="calendar"  placeholder="<%=getDateFormat()%>">
              </div>

            </div><!-- End row -->

          </div><!-- End well -->

        </div><!-- End col-3 -->

        <div class="qs-col-3 qs-fill">

          <div class="qs-well">

            <div class="qs-row">

              <div class="qs-col-6">
                <div class="qs-row">
                  <label for="adults"><%=getLabel('adults')%></label>
                </div>
                <div class="qs-row">
                  <select name="<%=getParam('nr_adults')%>" id="adults">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                  </select>
                </div>

              </div>

              <div class="qs-col-6 qs-last qs-center">
                <div class="qs-row qs-spacer">
                  &nbsp;
                </div>
                <div class="qs-row">
                  <input type="hidden" name="autosubmit" value="1">
                  <input type="hidden" name="p_type" value="F">
                  <input type="hidden" name="__langID" value="1043">
                  <button type="submit" class="qs small"><%=getLabel('search')%> <i class="icon-arrow"></i></button>
                </div>
              </div>

            </div><!-- End row -->

          </div><!-- End well -->

        </div><!-- End col-3 -->

      </div> <!-- End row -->

    </form><!-- End form -->

  </div>
</div>
