<div class="qs-container qs-vertical <%=options.layout%> <%=options.label%>">
  <div class="qs-bnr <%=options.label%>">

    <div class="qs-center qs-logo">
      <div class="qs-inner">
        <a href="<%=homepageURL()%>">
          <img alt="logo" src="<%=options.baseURL%>/assets/img/logo-<%=options.label%>.png">
        </a>
      </div>
    </div>

    <form method="get" class="qs" action="<%=postURL()%>" target="_blank">

      <div class="qs-row">

        <div class="qs-col-12 qs-well">
          <label for="from"><%=getLabel('from')%></label>
          <input class="qs" type="text" name="from" id="from" data-target="#dep_apcode" value="<%=options.prefillfrom%>" autocomplete="off">
          <input type="hidden" name="<%=getParam('dep_apcode')%>" id="dep_apcode" value="<%=options.prefillfromcode%>">

          <label for="to"><%=getLabel('to')%></label>
          <input class="qs" type="text" name="to" id="to" data-target="#des_apcode" value="<%=options.prefillto%>" autocomplete="off">
          <input type="hidden" name="<%=getParam('des_apcode')%>" id="des_apcode" value="<%=options.prefilltocode%>">
        </div><!-- End well -->

        <div class="qs-col-12 qs-well">
          <label for="vertrekdate"><%=getLabel('departure')%></label>
          <input type="text" id="vertrekdate" name="<%=getParam('vertrekdate')%>" data-type="calendar" placeholder="<%=getDateFormat()%>">

          <label for="retourdate"><%=getLabel('arrival')%></label>
          <input type="text" id="retourdate" name="<%=getParam('retourdate')%>" data-type="calendar"  placeholder="<%=getDateFormat()%>">
        </div><!-- End well -->

        <div class="qs-col-12 qs-well qs-selects">
          <div class="qs-adults">
            <label for="adults"><%=getLabel('adults')%></label>
            <select name="<%=getParam('nr_adults')%>" id="adults">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
          </div>

          <div class="qs-kids">
            <label for="kids"><%=getLabel('kids')%></label>
            <select name="<%=getParam('nr_children')%>" id="kids">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
          </div>

          <div class="qs-babies">
            <label for="babies"><%=getLabel('babies')%></label>
            <select name="<%=getParam('nr_infant')%>" id="babies">
              <option>0</option>
              <option>1</option>
            </select>
          </div>

        </div><!-- End well -->

        <div class="qs-col-12 qs-pad-top">
          <input type="hidden" name="autosubmit" value="1">
          <input type="hidden" name="p_type" value="F">
          <input type="hidden" name="__langID" value="1043">
          <button type="submit"><%=getLabel('search')%> <i class="icon-arrow"></i></button>
        </div><!-- End well -->

      </div><!-- End row -->

    </form>

  </div>

</div>
