/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
@import url(http://fonts.googleapis.com/css?family=Khand:400,600|Roboto);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* 1.0 GLOBAL SETTINGS */
/* 1.0 CHEAPTICKETS */
/* 2.0 BUDGET AIR */
/* 3.0 VLIEGWINKEL */
/* 5.0 DIMENSIONS */
.qs-container, .qs-container * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

.qs-banner a {
  color: inherit;
  text-decoration: none; }

.qs-col-half {
  float: left;
  display: block;
  margin-right: 6.66667%;
  width: 46.66667%; }
  .qs-col-half:last-child {
    margin-right: 0; }

.qs-col-third {
  float: left;
  display: block;
  margin-right: 4.34783%;
  width: 30.43478%; }
  .qs-col-third:last-child {
    margin-right: 0; }
  .qs-col-third label {
    height: 30px; }

.qs-row {
  display: block; }
  .qs-row::after {
    clear: both;
    content: "";
    display: table; }

.qs-col-1 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 7.36842%;
  padding-bottom: 1.05263%; }
  .qs-col-1:last-child {
    margin-right: 0; }

.qs-col-2 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 15.78947%;
  padding-bottom: 1.05263%; }
  .qs-col-2:last-child {
    margin-right: 0; }

.qs-col-3 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 24.21053%;
  padding-bottom: 1.05263%; }
  .qs-col-3:last-child {
    margin-right: 0; }

.qs-col-4 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 32.63158%;
  padding-bottom: 1.05263%; }
  .qs-col-4:last-child {
    margin-right: 0; }

.qs-col-5 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 41.05263%;
  padding-bottom: 1.05263%; }
  .qs-col-5:last-child {
    margin-right: 0; }

.qs-col-6 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 49.47368%;
  padding-bottom: 1.05263%; }
  .qs-col-6:last-child {
    margin-right: 0; }

.qs-col-7 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 57.89474%;
  padding-bottom: 1.05263%; }
  .qs-col-7:last-child {
    margin-right: 0; }

.qs-col-8 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 66.31579%;
  padding-bottom: 1.05263%; }
  .qs-col-8:last-child {
    margin-right: 0; }

.qs-col-9 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 74.73684%;
  padding-bottom: 1.05263%; }
  .qs-col-9:last-child {
    margin-right: 0; }

.qs-col-10 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 83.15789%;
  padding-bottom: 1.05263%; }
  .qs-col-10:last-child {
    margin-right: 0; }

.qs-col-11 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 91.57895%;
  padding-bottom: 1.05263%; }
  .qs-col-11:last-child {
    margin-right: 0; }

.qs-col-12 {
  float: left;
  display: block;
  margin-right: 1.05263%;
  width: 100%;
  padding-bottom: 1.05263%; }
  .qs-col-12:last-child {
    margin-right: 0; }

.qs-no-pad {
  padding: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("http://[rootPath]/assets/fonts/icomoon.eot?-jbox4");
  src: url("http://[rootPath]/assets/fonts/icomoon.eot?#iefix-jbox4") format("embedded-opentype"), url("http://[rootPath]/assets/fonts/icomoon.woff?-jbox4") format("woff"), url("http://[rootPath]/assets/fonts/icomoon.ttf?-jbox4") format("truetype"), url("http://[rootPath]/assets/fonts/icomoon.svg?-jbox4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-big:before {
  content: "\e600"; }

.icon-arrow:before {
  content: "\e601"; }

.icon-left:before {
  content: "\e604"; }

.icon-right:before {
  content: "\e605"; }

.icon-down:before {
  content: "\e609"; }

.icon-up:before {
  content: "\e60a"; }

/* 1.0 THEME FOR AIR LINE LABELS */
/* 2.0 LAYOUT */
.qs-center {
  height: 100%;
  display: table !important;
  text-align: center; }
  .qs-center > .qs-inner {
    display: table-cell;
    vertical-align: middle; }

.qs-container .qs-bnr {
  padding-right: 1.05263%; }

.qs-fill {
  padding: 0; }
  .qs-fill .qs-well {
    height: calc(100% - 16px); }

.qs-logo {
  padding: 16px; }
  .qs-logo img {
    width: 100%;
    height: auto; }

.qs-well {
  border-radius: 6px;
  padding: 6px 12px;
  margin: 8px 0; }

form.qs label {
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px; }
form.qs input[type="text"] {
  font-size: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-bottom: 4px;
  padding: 3px 8px;
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms;
  width: 100%; }
form.qs input[type="submit"],
form.qs button[type="submit"] {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5px 15px;
  margin: 2px 0px 0px; }
  form.qs input[type="submit"].small,
  form.qs button[type="submit"].small {
    font-size: 13px;
    padding: 4px 6px; }
  form.qs input[type="submit"]:hover,
  form.qs button[type="submit"]:hover {
    border-bottom: 5px solid inherit; }
  form.qs input[type="submit"]:active,
  form.qs button[type="submit"]:active {
    margin: 6px 4px 0 0;
    border-bottom: 2px solid inherit;
    box-shadow: none; }
form.qs select {
  font-size: 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-top: 4px;
  padding: 3px 8px;
  -webkit-transition: all 120ms;
  -moz-transition: all 120ms;
  transition: all 120ms; }

/* 3.0 SIZES */
.qs-container.banner {
  width: 468px;
  height: 60px; }
  .qs-container.banner .qs-fill {
    height: 60px; }
.qs-container.leaderboard {
  width: 728px;
  height: 90px; }
  .qs-container.leaderboard .qs-fill {
    height: 90px; }
.qs-container.vierkant {
  width: 250px;
  height: 250px; }
  .qs-container.vierkant .qs-fill {
    height: 250px; }
.qs-container.grote-rechthoek {
  width: 336px;
  height: 280px; }
  .qs-container.grote-rechthoek .qs-fill {
    height: 280px; }
.qs-container.geintegreerde-rechthoek {
  width: 300px;
  height: 250px; }
  .qs-container.geintegreerde-rechthoek .qs-fill {
    height: 250px; }
.qs-container.skyscraper {
  width: 120px;
  height: 600px; }
  .qs-container.skyscraper .qs-fill {
    height: 600px; }
.qs-container.brede-skyscraper {
  width: 160px;
  height: 600px; }
  .qs-container.brede-skyscraper .qs-fill {
    height: 600px; }

/* 4.0 VERTICAL */
.qs-vertical.qs-container .qs-bnr {
  padding-right: 0; }
.qs-vertical .qs-row {
  padding: inherit;
  padding-left: 8px;
  padding-right: 8px; }
.qs-vertical .qs-well {
  margin-bottom: 0; }
.qs-vertical .qs-logo {
  width: 100%; }
.qs-vertical input {
  margin-top: 4px; }
.qs-vertical select,
.qs-vertical input,
.qs-vertical button {
  width: 100%; }
.qs-vertical .qs-pad-top {
  margin-top: 8px; }

/* 5.0 AANPASSINGEN */
.qs-container {
  /* MINDER HOOG */ }
  .qs-container.banner .qs-fill .qs-well, .qs-container.vierkant .qs-fill .qs-well, .qs-container.grote-rechthoek .qs-fill .qs-well, .qs-container.geintegreerde-rechthoek .qs-fill .qs-well {
    margin: 4px 0;
    padding: 4px 8px;
    height: calc(100% - 8px); }
  .qs-container.banner label, .qs-container.vierkant label, .qs-container.grote-rechthoek label, .qs-container.geintegreerde-rechthoek label {
    margin-top: 4px; }
  .qs-container.banner input[type="text"], .qs-container.vierkant input[type="text"], .qs-container.grote-rechthoek input[type="text"], .qs-container.geintegreerde-rechthoek input[type="text"] {
    margin-bottom: 2px;
    padding: 0px 4px; }
  .qs-container.banner input[type="submit"].small,
  .qs-container.banner button[type="submit"].small, .qs-container.vierkant input[type="submit"].small,
  .qs-container.vierkant button[type="submit"].small, .qs-container.grote-rechthoek input[type="submit"].small,
  .qs-container.grote-rechthoek button[type="submit"].small, .qs-container.geintegreerde-rechthoek input[type="submit"].small,
  .qs-container.geintegreerde-rechthoek button[type="submit"].small {
    padding: 4px 6px;
    border-bottom: 2px solid inherit;
    box-shadow: -2px 2px inherit; }
    .qs-container.banner input[type="submit"].small:hover,
    .qs-container.banner button[type="submit"].small:hover, .qs-container.vierkant input[type="submit"].small:hover,
    .qs-container.vierkant button[type="submit"].small:hover, .qs-container.grote-rechthoek input[type="submit"].small:hover,
    .qs-container.grote-rechthoek button[type="submit"].small:hover, .qs-container.geintegreerde-rechthoek input[type="submit"].small:hover,
    .qs-container.geintegreerde-rechthoek button[type="submit"].small:hover {
      border-bottom: 2px solid inherit;
      box-shadow: -2px 2px inherit; }
    .qs-container.banner input[type="submit"].small:active,
    .qs-container.banner button[type="submit"].small:active, .qs-container.vierkant input[type="submit"].small:active,
    .qs-container.vierkant button[type="submit"].small:active, .qs-container.grote-rechthoek input[type="submit"].small:active,
    .qs-container.grote-rechthoek button[type="submit"].small:active, .qs-container.geintegreerde-rechthoek input[type="submit"].small:active,
    .qs-container.geintegreerde-rechthoek button[type="submit"].small:active {
      margin: 3px 0px 0px;
      border-bottom: 1px solid inherit;
      box-shadow: none; }
  .qs-container.banner select, .qs-container.vierkant select, .qs-container.grote-rechthoek select, .qs-container.geintegreerde-rechthoek select {
    margin-top: 2px;
    padding: 2px 6px; }
  .qs-container.banner .qs-fill .qs-well {
    padding: 2px 8px; }
  .qs-container.banner .qs-spacer,
  .qs-container.banner i {
    display: none; }
  .qs-container.banner label {
    margin-top: 2px; }
  .qs-container.banner label,
  .qs-container.banner select,
  .qs-container.banner input[type="text"],
  .qs-container.banner input[type="submit"].small,
  .qs-container.banner button[type="submit"].small {
    font-size: 12px; }
  .qs-container.vierkant label, .qs-container.grote-rechthoek label, .qs-container.geintegreerde-rechthoek label {
    float: left;
    display: block;
    margin-right: 1.05263%;
    width: 32.63158%; }
    .qs-container.vierkant label:last-child, .qs-container.grote-rechthoek label:last-child, .qs-container.geintegreerde-rechthoek label:last-child {
      margin-right: 0; }
  .qs-container.vierkant input[type="text"],
  .qs-container.vierkant select, .qs-container.grote-rechthoek input[type="text"],
  .qs-container.grote-rechthoek select, .qs-container.geintegreerde-rechthoek input[type="text"],
  .qs-container.geintegreerde-rechthoek select {
    float: left;
    display: block;
    margin-right: 1.05263%;
    width: 66.31579%;
    margin-right: 0; }
    .qs-container.vierkant input[type="text"]:last-child,
    .qs-container.vierkant select:last-child, .qs-container.grote-rechthoek input[type="text"]:last-child,
    .qs-container.grote-rechthoek select:last-child, .qs-container.geintegreerde-rechthoek input[type="text"]:last-child,
    .qs-container.geintegreerde-rechthoek select:last-child {
      margin-right: 0; }
  .qs-container.vierkant .qs-selects, .qs-container.grote-rechthoek .qs-selects, .qs-container.geintegreerde-rechthoek .qs-selects {
    display: none; }
  .qs-container.grote-rechthoek input[type="text"] {
    padding: 2px 4px; }
  .qs-container.vierkant .qs-logo, .qs-container.geintegreerde-rechthoek .qs-logo {
    padding: 10px; }

/* 2.0 LAYOUT PIKADAY */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative; }
  .pika-single:after, .pika-single:before {
    content: " ";
    display: table; }
  .pika-single:after {
    clear: both; }
  .pika-single.is-hidden {
    display: none; }
  .pika-single.is-bound {
    position: absolute; }
  .pika-single .pika-lendar {
    float: left;
    width: 240px;
    margin: 8px; }
  .pika-single .pika-title {
    position: relative;
    text-align: center; }
  .pika-single .pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold; }
  .pika-single .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0; }
  .pika-single .pika-prev,
  .pika-single .pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: -9999px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0; }
  .pika-single .pika-prev:hover,
  .pika-single .pika-next:hover {
    opacity: 1; }
  .pika-single .pika-prev,
  .pika-single .is-rtl .pika-next {
    float: left;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
    *left: 0; }
  .pika-single .pika-next,
  .pika-single .is-rtl .pika-prev {
    float: right;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
    *right: 0; }
  .pika-single .pika-prev.is-disabled,
  .pika-single .pika-next.is-disabled {
    cursor: default;
    opacity: .2; }
  .pika-single .pika-select {
    display: inline-block;
    *display: inline; }
  .pika-single .pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0; }
  .pika-single .pika-table th,
  .pika-single .pika-table td {
    width: 14.285714285714286%;
    padding: 0; }
  .pika-single .pika-table th {
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center; }
  .pika-single .pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 15px;
    text-align: right; }
  .pika-single .pika-week {
    font-size: 11px; }
  .pika-single .is-today .pika-button {
    font-weight: bold; }
  .pika-single .is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    opacity: .3; }
  .pika-single .pika-button:hover {
    box-shadow: none !important; }
  .pika-single .pika-table abbr {
    border-bottom: none;
    cursor: help; }

/* 1.0 THEME MIXIN */
/* 2.0 LAYOUT AUTOCOMPLETE */
[hidden] {
  display: none; }

.awesomplete {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%; }
  .awesomplete > input {
    display: block; }
  .awesomplete > ul {
    position: absolute;
    left: 0;
    top: -7px;
    z-index: 1;
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    border-radius: 0 0 3px 3px;
    background: white;
    margin: 0;
    padding: 0; }
    .awesomplete > ul[hidden], .awesomplete > ul:empty {
      display: none; }
    .awesomplete > ul > li {
      position: relative;
      padding: 3px 8px;
      cursor: pointer;
      font-size: 12px;
      background: inherit;
      white-space: nowrap;
      -webkit-transition: 120ms all;
      -moz-transition: 120ms all;
      transition: 120ms all; }
      .awesomplete > ul > li:first-child:before {
        content: "";
        position: absolute;
        top: -.35em;
        right: 5px;
        width: 0;
        height: 0;
        padding: .3em;
        background: inherit;
        border: 1px solid inherit;
        border-right: 0;
        border-bottom: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }

@supports (transform: scale(0)) {
  .awesomplete > ul {
    transition: 0.3s cubic-bezier(0.4, 0.2, 0.5, 1.4);
    transform-origin: 1.43em -.43em; }
    .awesomplete > ul[hidden], .awesomplete > ul:empty {
      opacity: 0;
      transform: scale(0);
      display: block;
      transition-timing-function: ease; } }
/* APPLY THEMES */
.cheaptickets-nl.qs-container,
.cheaptickets-be.qs-container,
.cheaptickets-de.qs-container,
.cheaptickets-ch.qs-container {
  background-color: #d5e8f8; }
.cheaptickets-nl .qs-logo,
.cheaptickets-be .qs-logo,
.cheaptickets-de .qs-logo,
.cheaptickets-ch .qs-logo {
  background-color: #0056a9; }
  .cheaptickets-nl .qs-logo img,
  .cheaptickets-be .qs-logo img,
  .cheaptickets-de .qs-logo img,
  .cheaptickets-ch .qs-logo img {
    max-width: 193px; }
.cheaptickets-nl .qs-well,
.cheaptickets-be .qs-well,
.cheaptickets-de .qs-well,
.cheaptickets-ch .qs-well {
  background-color: white; }
.cheaptickets-nl form.qs label,
.cheaptickets-be form.qs label,
.cheaptickets-de form.qs label,
.cheaptickets-ch form.qs label {
  font-family: "Khand", Arial, sans-serif;
  color: #0056a9; }
.cheaptickets-nl form.qs input[type="text"],
.cheaptickets-be form.qs input[type="text"],
.cheaptickets-de form.qs input[type="text"],
.cheaptickets-ch form.qs input[type="text"] {
  color: #29425b;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
  border: 1px solid #c8def6;
  line-height: 19px; }
  .cheaptickets-nl form.qs input[type="text"]:focus,
  .cheaptickets-be form.qs input[type="text"]:focus,
  .cheaptickets-de form.qs input[type="text"]:focus,
  .cheaptickets-ch form.qs input[type="text"]:focus {
    border-color: #00b0ff; }
.cheaptickets-nl form.qs input[type="submit"],
.cheaptickets-nl form.qs button[type="submit"],
.cheaptickets-be form.qs input[type="submit"],
.cheaptickets-be form.qs button[type="submit"],
.cheaptickets-de form.qs input[type="submit"],
.cheaptickets-de form.qs button[type="submit"],
.cheaptickets-ch form.qs input[type="submit"],
.cheaptickets-ch form.qs button[type="submit"] {
  background-color: #f6e500;
  background-image: -webkit-linear-gradient(#f6e500, #f7de00);
  background-image: linear-gradient(#f6e500, #f7de00);
  border-bottom: 3px solid #e6bb00;
  box-shadow: -4px 4px rgba(0, 0, 0, 0.2);
  font-family: "Khand", Arial, sans-serif;
  color: #0056a9; }
  .cheaptickets-nl form.qs input[type="submit"].small,
  .cheaptickets-nl form.qs button[type="submit"].small,
  .cheaptickets-be form.qs input[type="submit"].small,
  .cheaptickets-be form.qs button[type="submit"].small,
  .cheaptickets-de form.qs input[type="submit"].small,
  .cheaptickets-de form.qs button[type="submit"].small,
  .cheaptickets-ch form.qs input[type="submit"].small,
  .cheaptickets-ch form.qs button[type="submit"].small {
    box-shadow: -3px 3px rgba(0, 0, 0, 0.2); }
  .cheaptickets-nl form.qs input[type="submit"]:hover,
  .cheaptickets-nl form.qs button[type="submit"]:hover,
  .cheaptickets-be form.qs input[type="submit"]:hover,
  .cheaptickets-be form.qs button[type="submit"]:hover,
  .cheaptickets-de form.qs input[type="submit"]:hover,
  .cheaptickets-de form.qs button[type="submit"]:hover,
  .cheaptickets-ch form.qs input[type="submit"]:hover,
  .cheaptickets-ch form.qs button[type="submit"]:hover {
    border-bottom: 5px solid #e6bb00;
    box-shadow: -3px 3px rgba(0, 0, 0, 0.1); }
.cheaptickets-nl form.qs select,
.cheaptickets-be form.qs select,
.cheaptickets-de form.qs select,
.cheaptickets-ch form.qs select {
  color: #29425b;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
  border: 1px solid #c8def6; }
  .cheaptickets-nl form.qs select:focus,
  .cheaptickets-be form.qs select:focus,
  .cheaptickets-de form.qs select:focus,
  .cheaptickets-ch form.qs select:focus {
    border-color: #00b0ff; }
.cheaptickets-nl.pika-single,
.cheaptickets-be.pika-single,
.cheaptickets-de.pika-single,
.cheaptickets-ch.pika-single {
  background: white;
  font-family: "Khand", Arial, sans-serif;
  color: #0056a9; }
  .cheaptickets-nl.pika-single.is-bound,
  .cheaptickets-be.pika-single.is-bound,
  .cheaptickets-de.pika-single.is-bound,
  .cheaptickets-ch.pika-single.is-bound {
    position: absolute;
    border: 1px solid #c8def6; }
  .cheaptickets-nl.pika-single .pika-button,
  .cheaptickets-be.pika-single .pika-button,
  .cheaptickets-de.pika-single .pika-button,
  .cheaptickets-ch.pika-single .pika-button {
    color: #0056a9;
    background: white; }
  .cheaptickets-nl.pika-single .is-selected .pika-button,
  .cheaptickets-be.pika-single .is-selected .pika-button,
  .cheaptickets-de.pika-single .is-selected .pika-button,
  .cheaptickets-ch.pika-single .is-selected .pika-button {
    background: #00b0ff;
    color: white; }
  .cheaptickets-nl.pika-single .pika-button:hover,
  .cheaptickets-be.pika-single .pika-button:hover,
  .cheaptickets-de.pika-single .pika-button:hover,
  .cheaptickets-ch.pika-single .pika-button:hover {
    background: #ebf5fd; }
  .cheaptickets-nl.pika-single .pika-week,
  .cheaptickets-be.pika-single .pika-week,
  .cheaptickets-de.pika-single .pika-week,
  .cheaptickets-ch.pika-single .pika-week {
    color: #999; }
  .cheaptickets-nl.pika-single .is-today .pika-button,
  .cheaptickets-be.pika-single .is-today .pika-button,
  .cheaptickets-de.pika-single .is-today .pika-button,
  .cheaptickets-ch.pika-single .is-today .pika-button {
    color: #33aaff; }
  .cheaptickets-nl.pika-single .is-disabled .pika-button,
  .cheaptickets-be.pika-single .is-disabled .pika-button,
  .cheaptickets-de.pika-single .is-disabled .pika-button,
  .cheaptickets-ch.pika-single .is-disabled .pika-button {
    color: #999;
    opacity: .3; }
.cheaptickets-nl .awesomplete,
.cheaptickets-be .awesomplete,
.cheaptickets-de .awesomplete,
.cheaptickets-ch .awesomplete {
  font-family: "Roboto", Arial, sans-serif; }
  .cheaptickets-nl .awesomplete > ul,
  .cheaptickets-be .awesomplete > ul,
  .cheaptickets-de .awesomplete > ul,
  .cheaptickets-ch .awesomplete > ul {
    border: 1px solid #c8def6; }
    .cheaptickets-nl .awesomplete > ul > li,
    .cheaptickets-be .awesomplete > ul > li,
    .cheaptickets-de .awesomplete > ul > li,
    .cheaptickets-ch .awesomplete > ul > li {
      color: #597385;
      white-space: nowrap; }
      .cheaptickets-nl .awesomplete > ul > li:first-child:before,
      .cheaptickets-be .awesomplete > ul > li:first-child:before,
      .cheaptickets-de .awesomplete > ul > li:first-child:before,
      .cheaptickets-ch .awesomplete > ul > li:first-child:before {
        border-color: #c8def6; }
      .cheaptickets-nl .awesomplete > ul > li:hover,
      .cheaptickets-be .awesomplete > ul > li:hover,
      .cheaptickets-de .awesomplete > ul > li:hover,
      .cheaptickets-ch .awesomplete > ul > li:hover {
        background: #ebf5fd; }
      .cheaptickets-nl .awesomplete > ul > li:active,
      .cheaptickets-be .awesomplete > ul > li:active,
      .cheaptickets-de .awesomplete > ul > li:active,
      .cheaptickets-ch .awesomplete > ul > li:active {
        background: #00b0ff;
        color: white; }

.budget-air-nl.qs-container,
.budget-air-uk.qs-container,
.flugladen-at.qs-container,
.flugladen-de.qs-container {
  background-color: #f5ecf5; }
.budget-air-nl .qs-logo,
.budget-air-uk .qs-logo,
.flugladen-at .qs-logo,
.flugladen-de .qs-logo {
  background-color: #6a2d91; }
  .budget-air-nl .qs-logo img,
  .budget-air-uk .qs-logo img,
  .flugladen-at .qs-logo img,
  .flugladen-de .qs-logo img {
    max-width: 193px; }
.budget-air-nl .qs-well,
.budget-air-uk .qs-well,
.flugladen-at .qs-well,
.flugladen-de .qs-well {
  background-color: white; }
.budget-air-nl form.qs label,
.budget-air-uk form.qs label,
.flugladen-at form.qs label,
.flugladen-de form.qs label {
  font-family: "VAG Rounded Std", Arial, sans-serif;
  color: #6a2d91; }
.budget-air-nl form.qs input[type="text"],
.budget-air-uk form.qs input[type="text"],
.flugladen-at form.qs input[type="text"],
.flugladen-de form.qs input[type="text"] {
  color: #29425b;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
  border: 1px solid #e2cdf0;
  line-height: 19px; }
  .budget-air-nl form.qs input[type="text"]:focus,
  .budget-air-uk form.qs input[type="text"]:focus,
  .flugladen-at form.qs input[type="text"]:focus,
  .flugladen-de form.qs input[type="text"]:focus {
    border-color: #6a2d91; }
.budget-air-nl form.qs input[type="submit"],
.budget-air-nl form.qs button[type="submit"],
.budget-air-uk form.qs input[type="submit"],
.budget-air-uk form.qs button[type="submit"],
.flugladen-at form.qs input[type="submit"],
.flugladen-at form.qs button[type="submit"],
.flugladen-de form.qs input[type="submit"],
.flugladen-de form.qs button[type="submit"] {
  background-color: #7fb807;
  background-image: -webkit-linear-gradient(#7fb807, #5d8605);
  background-image: linear-gradient(#7fb807, #5d8605);
  border-bottom: 3px solid transparent;
  box-shadow: -4px 4px transparent;
  font-family: "VAG Rounded Std", Arial, sans-serif;
  color: white; }
  .budget-air-nl form.qs input[type="submit"].small,
  .budget-air-nl form.qs button[type="submit"].small,
  .budget-air-uk form.qs input[type="submit"].small,
  .budget-air-uk form.qs button[type="submit"].small,
  .flugladen-at form.qs input[type="submit"].small,
  .flugladen-at form.qs button[type="submit"].small,
  .flugladen-de form.qs input[type="submit"].small,
  .flugladen-de form.qs button[type="submit"].small {
    box-shadow: -3px 3px transparent; }
  .budget-air-nl form.qs input[type="submit"]:hover,
  .budget-air-nl form.qs button[type="submit"]:hover,
  .budget-air-uk form.qs input[type="submit"]:hover,
  .budget-air-uk form.qs button[type="submit"]:hover,
  .flugladen-at form.qs input[type="submit"]:hover,
  .flugladen-at form.qs button[type="submit"]:hover,
  .flugladen-de form.qs input[type="submit"]:hover,
  .flugladen-de form.qs button[type="submit"]:hover {
    border-bottom: 5px solid transparent;
    box-shadow: -3px 3px transparent; }
.budget-air-nl form.qs select,
.budget-air-uk form.qs select,
.flugladen-at form.qs select,
.flugladen-de form.qs select {
  color: #29425b;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
  border: 1px solid #e2cdf0; }
  .budget-air-nl form.qs select:focus,
  .budget-air-uk form.qs select:focus,
  .flugladen-at form.qs select:focus,
  .flugladen-de form.qs select:focus {
    border-color: #6a2d91; }
.budget-air-nl.pika-single,
.budget-air-uk.pika-single,
.flugladen-at.pika-single,
.flugladen-de.pika-single {
  background: white;
  font-family: "VAG Rounded Std", Arial, sans-serif;
  color: #6a2d91; }
  .budget-air-nl.pika-single.is-bound,
  .budget-air-uk.pika-single.is-bound,
  .flugladen-at.pika-single.is-bound,
  .flugladen-de.pika-single.is-bound {
    position: absolute;
    border: 1px solid #e2cdf0; }
  .budget-air-nl.pika-single .pika-button,
  .budget-air-uk.pika-single .pika-button,
  .flugladen-at.pika-single .pika-button,
  .flugladen-de.pika-single .pika-button {
    color: #6a2d91;
    background: white; }
  .budget-air-nl.pika-single .is-selected .pika-button,
  .budget-air-uk.pika-single .is-selected .pika-button,
  .flugladen-at.pika-single .is-selected .pika-button,
  .flugladen-de.pika-single .is-selected .pika-button {
    background: #6E9F06;
    color: white; }
  .budget-air-nl.pika-single .pika-button:hover,
  .budget-air-uk.pika-single .pika-button:hover,
  .flugladen-at.pika-single .pika-button:hover,
  .flugladen-de.pika-single .pika-button:hover {
    background: #f5ecf5; }
  .budget-air-nl.pika-single .pika-week,
  .budget-air-uk.pika-single .pika-week,
  .flugladen-at.pika-single .pika-week,
  .flugladen-de.pika-single .pika-week {
    color: #999; }
  .budget-air-nl.pika-single .is-today .pika-button,
  .budget-air-uk.pika-single .is-today .pika-button,
  .flugladen-at.pika-single .is-today .pika-button,
  .flugladen-de.pika-single .is-today .pika-button {
    color: #33aaff; }
  .budget-air-nl.pika-single .is-disabled .pika-button,
  .budget-air-uk.pika-single .is-disabled .pika-button,
  .flugladen-at.pika-single .is-disabled .pika-button,
  .flugladen-de.pika-single .is-disabled .pika-button {
    color: #999;
    opacity: .3; }
.budget-air-nl .awesomplete,
.budget-air-uk .awesomplete,
.flugladen-at .awesomplete,
.flugladen-de .awesomplete {
  font-family: "Roboto", Arial, sans-serif; }
  .budget-air-nl .awesomplete > ul,
  .budget-air-uk .awesomplete > ul,
  .flugladen-at .awesomplete > ul,
  .flugladen-de .awesomplete > ul {
    border: 1px solid #e2cdf0; }
    .budget-air-nl .awesomplete > ul > li,
    .budget-air-uk .awesomplete > ul > li,
    .flugladen-at .awesomplete > ul > li,
    .flugladen-de .awesomplete > ul > li {
      color: #597385;
      white-space: nowrap; }
      .budget-air-nl .awesomplete > ul > li:first-child:before,
      .budget-air-uk .awesomplete > ul > li:first-child:before,
      .flugladen-at .awesomplete > ul > li:first-child:before,
      .flugladen-de .awesomplete > ul > li:first-child:before {
        border-color: #e2cdf0; }
      .budget-air-nl .awesomplete > ul > li:hover,
      .budget-air-uk .awesomplete > ul > li:hover,
      .flugladen-at .awesomplete > ul > li:hover,
      .flugladen-de .awesomplete > ul > li:hover {
        background: #f5ecf5; }
      .budget-air-nl .awesomplete > ul > li:active,
      .budget-air-uk .awesomplete > ul > li:active,
      .flugladen-at .awesomplete > ul > li:active,
      .flugladen-de .awesomplete > ul > li:active {
        background: #6E9F06;
        color: white; }
.budget-air-nl i,
.budget-air-uk i,
.flugladen-at i,
.flugladen-de i {
  display: none; }

.vliegwinkel-nl.qs-container {
  background-color: rgba(0, 0, 0, 0.05); }
.vliegwinkel-nl .qs-logo {
  background-color: #1f4288; }
  .vliegwinkel-nl .qs-logo img {
    max-width: 193px; }
.vliegwinkel-nl .qs-well {
  background-color: white; }
.vliegwinkel-nl form.qs label {
  font-family: "Neo Tech", Arial, sans-serif;
  color: #5e5e5e; }
.vliegwinkel-nl form.qs input[type="text"] {
  color: #29425b;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
  border: 1px solid #b7caef;
  line-height: 19px; }
  .vliegwinkel-nl form.qs input[type="text"]:focus {
    border-color: #1f4288; }
.vliegwinkel-nl form.qs input[type="submit"],
.vliegwinkel-nl form.qs button[type="submit"] {
  background-color: #aad97b;
  background-image: -webkit-linear-gradient(#aad97b, #6aa332);
  background-image: linear-gradient(#aad97b, #6aa332);
  border-bottom: 3px solid #77b738;
  box-shadow: -4px 4px transparent;
  font-family: "Neo Tech", Arial, sans-serif;
  color: white; }
  .vliegwinkel-nl form.qs input[type="submit"].small,
  .vliegwinkel-nl form.qs button[type="submit"].small {
    box-shadow: -3px 3px transparent; }
  .vliegwinkel-nl form.qs input[type="submit"]:hover,
  .vliegwinkel-nl form.qs button[type="submit"]:hover {
    border-bottom: 5px solid #77b738;
    box-shadow: -3px 3px transparent; }
.vliegwinkel-nl form.qs select {
  color: #29425b;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
  border: 1px solid #b7caef; }
  .vliegwinkel-nl form.qs select:focus {
    border-color: #1f4288; }
.vliegwinkel-nl.pika-single {
  background: white;
  font-family: "Neo Tech", Arial, sans-serif;
  color: #5e5e5e; }
  .vliegwinkel-nl.pika-single.is-bound {
    position: absolute;
    border: 1px solid #b7caef; }
  .vliegwinkel-nl.pika-single .pika-button {
    color: #5e5e5e;
    background: white; }
  .vliegwinkel-nl.pika-single .is-selected .pika-button {
    background: #1f4288;
    color: white; }
  .vliegwinkel-nl.pika-single .pika-button:hover {
    background: #ebf5fd; }
  .vliegwinkel-nl.pika-single .pika-week {
    color: #999; }
  .vliegwinkel-nl.pika-single .is-today .pika-button {
    color: #33aaff; }
  .vliegwinkel-nl.pika-single .is-disabled .pika-button {
    color: #999;
    opacity: .3; }
.vliegwinkel-nl .awesomplete {
  font-family: "Roboto", Arial, sans-serif; }
  .vliegwinkel-nl .awesomplete > ul {
    border: 1px solid #b7caef; }
    .vliegwinkel-nl .awesomplete > ul > li {
      color: #597385;
      white-space: nowrap; }
      .vliegwinkel-nl .awesomplete > ul > li:first-child:before {
        border-color: #b7caef; }
      .vliegwinkel-nl .awesomplete > ul > li:hover {
        background: #ebf5fd; }
      .vliegwinkel-nl .awesomplete > ul > li:active {
        background: #1f4288;
        color: white; }
.vliegwinkel-nl i {
  display: none; }

/*# sourceMappingURL=style.css.map */
