/* 1.0 THEME MIXIN */
@mixin awesomplete ($label) {
  .awesomplete {
    font-family: map-get($label, font-family-alt);
    > ul {
      border: 1px solid map-get($label, color-input-border);
      > li {
        color: map-get($label, color-ac-option);
        white-space: nowrap;
        &:first-child {
          &:before {
            border-color: map-get($label, color-input-border);
          }
        }
        &:hover {
          background: map-get($label, color-ac-hover);
        }
        &:active {
          background: map-get($label, color-ac-active);
          color: white;
        }
      }
    }
  }
}

/* 2.0 LAYOUT AUTOCOMPLETE */
[hidden] { display: none; }
.awesomplete {
  display: inline-block;
  position: relative;
  float: left;
  width: 100%;
  > input {
    display: block;
  }
  > ul {
    position: absolute;
    left: 0;
    top:	-7px;
    z-index: 1;
    min-width: 100%;
    box-sizing: border-box;
    list-style: none;
    border-radius: 0 0 $border-radius $border-radius;
    background: white;
    margin: 0;
    padding: 0;
    &[hidden],
    &:empty {
      display: none;
    }

    > li {
      position: relative;
      padding: 3px 8px;
      cursor: pointer;
      font-size: 12px;
      background: inherit;
      white-space: nowrap;

      &:first-child {
        &:before {
          content: "";
          position: absolute;
          top: -.35em;
          right: 5px;
          width: 0;
          height: 0;
          padding: .3em;
          background: inherit;
          border: 1px solid inherit;
          border-right: 0;
          border-bottom: 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      @include transition(120ms all);
    }
  }
}

@supports (transform: scale(0)) {
  .awesomplete {
    > ul {
      transition: .3s cubic-bezier(.4,.2,.5,1.4);
      transform-origin: 1.43em -.43em;

      &[hidden],
      &:empty {
        opacity: 0;
        transform: scale(0);
        display: block;
        transition-timing-function: ease;
      }
    }
  }
}
