@import url(http://fonts.googleapis.com/css?family=Khand:400,600|Roboto);

/* 1.0 THEME FOR AIR LINE LABELS */
@mixin theme($label) {
  &.qs-container {
    background-color: map-get($label, color-bg);
  }
  .qs-logo {
    background-color: map-get($label, color-bg-dark);
    img {
      max-width: 193px;
    }
  }

  .qs-well {
    background-color: map-get($label, color-bg-well);
  }

  form.qs {
    label {
      font-family: map-get($label, font-family);
      color: map-get($label, text-color);
    }

    input[type="text"] {
      color: map-get($label, text-color-input);
      font-family: map-get($label, font-family-alt);
      background-color: map-get($label, color-input-bg);
      border: 1px solid map-get($label, color-input-border);
      line-height:19px;

      &:focus {
        border-color: map-get($label, color-input-border-focus);
      }
    }

    input[type="submit"],
    button[type="submit"] {
      @include linear-gradient(map-get($label, color-btn-top), map-get($label, color-btn-bottom));

      border-bottom: 3px solid map-get($label, color-btn-border);
      box-shadow: -4px 4px map-get($label, color-btn-shadow);

      font-family: map-get($label, font-family);
      color: map-get($label, text-color-submit);

      &.small {
        box-shadow: -3px 3px map-get($label, color-btn-shadow);
      }
      &:hover {
        border-bottom: 5px solid map-get($label, color-btn-border);
        box-shadow: -3px 3px map-get($label, color-btn-shadow-hover);
      }
    }

    select {
      color: map-get($label, text-color-input);
      font-family: map-get($label, font-family-alt);
      background-color: map-get($label, color-input-bg);
      border: 1px solid map-get($label, color-input-border);
      &:focus {
        border-color: map-get($label, color-input-border-focus);
      }
    }
  }
}

/* 2.0 LAYOUT */
.qs-center {
  height: 100%;
  display: table !important;
  text-align: center;
  & > .qs-inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.qs-container {
  .qs-bnr {
    padding-right: flex-gutter();
  }
}

.qs-fill {
  padding: 0;
  .qs-well {
    height: calc(100% - 16px);
  }
}

.qs-logo {
  padding: 16px;
  img {
    width: 100%;
    height: auto;
  }
}

.qs-well {
  border-radius: $large-border-radius;
  padding: 6px 12px;
  margin: 8px 0;
}

form.qs {
  label {
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
  }

  input[type="text"] {
    font-size: 12px;
    @include border-top-radius($border-radius);
    @include border-right-radius($border-radius);
    @include border-bottom-radius($border-radius);
    @include border-left-radius($border-radius);
    margin-bottom: 4px;
    padding: 3px 8px;
    @include transition(all 120ms);
    width: 100%;
  }

  input[type="submit"],
  button[type="submit"] {
    @include border-top-radius($border-radius);
    @include border-right-radius($border-radius);
    @include border-bottom-radius($border-radius);
    @include border-left-radius($border-radius);

    font-size: 18px;
    font-weight: bold;
    text-align: center;

    padding: 5px 15px;
    margin: 2px 0px 0px;

    &.small {
      font-size: 13px;
      padding: 4px 6px;
    }
    &:hover {
      border-bottom: 5px solid inherit;
    }
    &:active {
      margin: 6px 4px 0 0;
      border-bottom: 2px solid inherit;
      box-shadow: none;
    }
  }

  select {
    font-size: 12px;
    @include border-top-radius($border-radius);
    @include border-right-radius($border-radius);
    @include border-bottom-radius($border-radius);
    @include border-left-radius($border-radius);
    margin-top: 4px;
    padding: 3px 8px;
    @include transition(all 120ms);
  }
}

/* 3.0 SIZES */
.qs-container {
  &.banner {
    @include dimensions($banner);
  }
  &.leaderboard {
    @include dimensions($leaderboard);
  }
  &.vierkant {
    @include dimensions($vierkant);
  }
  &.grote-rechthoek {
    @include dimensions($grote-rechthoek);
  }
  &.geintegreerde-rechthoek {
    @include dimensions($geintegreerde-rechthoek);
  }
  &.skyscraper {
    @include dimensions($skyscraper);
  }
  &.brede-skyscraper {
    @include dimensions($brede-skyscraper);
  }
}

/* 4.0 VERTICAL */
.qs-vertical {
  &.qs-container .qs-bnr {
    padding-right: 0;
  }
  .qs-row {
    padding: inherit;
    padding-left:8px;
    padding-right:8px;
  }
  .qs-well {
    margin-bottom: 0;
  }
  .qs-logo {
    width: 100%;
  }
  input {
    margin-top: 4px;
  }
  select,
  input,
  button {
    width: 100%;
  }
  .qs-pad-top {
    margin-top: 8px;
  }
}

/* 5.0 AANPASSINGEN */
.qs-container {
  /* MINDER HOOG */
  &.banner,
  &.vierkant,
  &.grote-rechthoek,
  &.geintegreerde-rechthoek {
    .qs-fill .qs-well {
      margin: 4px 0;
      padding: 4px 8px;
      height: calc(100% - 8px);
    }
    label {
      margin-top: 4px;
    }
    input[type="text"] {
      margin-bottom: 2px;
      padding: 0px 4px;
    }
    input[type="submit"].small,
    button[type="submit"].small {
      padding: 4px 6px;
      border-bottom: 2px solid inherit;
      box-shadow: -2px 2px inherit;
      &:hover {
        border-bottom: 2px solid inherit;
        box-shadow: -2px 2px inherit;
      }
      &:active {
        margin: 3px 0px 0px;
        border-bottom: 1px solid inherit;
        box-shadow: none;
      }
    }
    select {
      margin-top: 2px;
      padding: 2px 6px;
    }
  }

  &.banner {
    .qs-fill .qs-well {
      padding: 2px 8px;
    }

    .qs-spacer,
    i {
      display: none;
    }
    label {
      margin-top: 2px;
    }
    label,
    select,
    input[type="text"],
    input[type="submit"].small,
    button[type="submit"].small {
      font-size: 12px;
    }
  }

  &.vierkant,
  &.grote-rechthoek,
  &.geintegreerde-rechthoek {
    label {
      @include span-columns(4);
    }
    input[type="text"],
    select {
      @include span-columns(8);
      margin-right: 0;
    }
    .qs-selects {
      display: none;
    }
  }

  &.grote-rechthoek {
    input[type="text"] {
      padding: 2px 4px;
    }
  }

  &.vierkant,
  &.geintegreerde-rechthoek {
    .qs-logo {
      padding: 10px;
    }
  }
}
