form.qs {
  // padding: 0 5px 5px 5px;
  // border-radius: 0 $border-radius $border-radius $border-radius;
  @include clearfix;
  select {
    width: 100%;
    line-height: 12px;
  }

  input {
    width: 100%;
    font-family: inherit;
    font-size: 11px;
    display: block;
    padding: 3px;
    border-radius: $small-border-radius;
    &[type=text] {
      height: 18px;
    }
    &[type=submit] {
      color: #fff;
      height: 28px;
      font-size: 13px;
      line-height: 24px;
      margin-top: 8px;
      cursor: pointer;
      &.small {
        height: 18px;
        line-height: 14px;
      }
      &:active {
        color: rgba(#fff, 0.7);
      }
    }
  }
  label {
    font-size: 11px;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
    display: block;
    padding: 3px 0 1px 0;
  }
}

// .qs-horizontal {
//   .qs-row {
//     padding-top: 0;
//     &:first-child {
//       padding-top: 5px;
//     }
//   }
//   input {
//     margin-top: 0;
//   }
// }

.brede-skyscraper,
.skyscraper {
  form.qs input[type=text] {
    height: 28px;
  }
}
