.qs-col-half {
  @include span-columns(1 of 2);
}

.qs-col-third {
  @include span-columns(1 of 3);
  label {
    height: 30px;
  }
}

.qs-row {
  @include row;
}

@for $i from 1 through 12 {
  .qs-col-#{$i} {
    @include span-columns($i);
    padding-bottom: flex-gutter();
  }
}

.qs-no-pad {
  padding: 0;
}
