@font-face {
	font-family: 'icomoon';
	src:url('#{$iconpath}/assets/fonts/icomoon.eot?-jbox4');
  	src:url('#{$iconpath}/assets/fonts/icomoon.eot?#iefix-jbox4') format('embedded-opentype'),
		url('#{$iconpath}/assets/fonts/icomoon.woff?-jbox4') format('woff'),
		url('#{$iconpath}/assets/fonts/icomoon.ttf?-jbox4') format('truetype'),
		url('#{$iconpath}/assets/fonts/icomoon.svg?-jbox4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	// speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-big:before {
	content: "\e600";
}

.icon-arrow:before {
	content: "\e601";
}

// .icon-Buttons_arrowMinus:before {
// 	content: "\e602";
// }
//
// .icon-Buttons_arrowPlus:before {
// 	content: "\e603";
// }

.icon-left:before {
	content: "\e604";
}

.icon-right:before {
	content: "\e605";
}

// .icon-Buttons_Check:before {
// 	content: "\e606";
// }
//
// .icon-Buttons_closeBig:before {
// 	content: "\e607";
// }
//
// .icon-Buttons_closeSmall:before {
// 	content: "\e608";
// }

.icon-down:before {
	content: "\e609";
}

.icon-up:before {
	content: "\e60a";
}

// .icon-Buttons_hamburger_menu:before {
// 	content: "\e60b";
// }
//
// .icon-Buttons_share:before {
// 	content: "\e60c";
// }
//
// .icon-CO_alert:before {
// 	content: "\e60d";
// }
//
// .icon-CO_baby_cot:before {
// 	content: "\e60e";
// }
//
// .icon-CO_frequent_flyer:before {
// 	content: "\e60f";
// }
//
// .icon-CO_luggage:before {
// 	content: "\e610";
// }
//
// .icon-CO_meals:before {
// 	content: "\e611";
// }
//
// .icon-CO_seats:before {
// 	content: "\e612";
// }
//
// .icon-CO_secure:before {
// 	content: "\e613";
// }
//
// .icon-Nav_Aanbiedingen:before {
// 	content: "\e614";
// }
//
// .icon-Nav_also_fly_to:before {
// 	content: "\e615";
// }
//
// .icon-Nav_Beta:before {
// 	content: "\e616";
// }
//
// .icon-Nav_CheapHCars:before {
// 	content: "\e617";
// }
//
// .icon-Nav_CheapHotels:before {
// 	content: "\e618";
// }
//
// .icon-Nav_CheapTickets:before {
// 	content: "\e619";
// }
//
// .icon-Nav_events:before {
// 	content: "\e61a";
// }
//
// .icon-Nav_faq:before {
// 	content: "\e61b";
// }
//
// .icon-Nav_inchecken:before {
// 	content: "\e61c";
// }
//
// .icon-Nav_mail:before {
// 	content: "\e61d";
// }
//
// .icon-Nav_Phone:before {
// 	content: "\e61e";
// }
//
// .icon-Nav_Point_down:before {
// 	content: "\e61f";
// }
//
// .icon-Nav_Point_left:before {
// 	content: "\e620";
// }
//
// .icon-Nav_Point_right:before {
// 	content: "\e621";
// }
//
// .icon-Nav_Point_up:before {
// 	content: "\e622";
// }
//
// .icon-Nav_Reisvoorbereiding:before {
// 	content: "\e623";
// }
//
// .icon-Nav_search:before {
// 	content: "\e624";
// }
//
// .icon-Nav_service:before {
// 	content: "\e625";
// }
//
// .icon-Search_error:before {
// 	content: "\e626";
// }
//
// .icon-Search_from:before {
// 	content: "\e627";
// }
//
// .icon-Search_Geo_location:before {
// 	content: "\e628";
// }
//
// .icon-Search_inbound:before {
// 	content: "\e629";
// }
//
// .icon-Search_location_unknown:before {
// 	content: "\e62a";
// }
//
// .icon-Search_Open_intent:before {
// 	content: "\e62b";
// }
//
// .icon-Search_outbound:before {
// 	content: "\e62c";
// }
//
// .icon-Search_passengers:before {
// 	content: "\e62d";
// }
//
// .icon-Search_ticketclass:before {
// 	content: "\e62e";
// }
//
// .icon-Search_to:before {
// 	content: "\e62f";
// }
//
// .icon-Seo_Airline:before {
// 	content: "\e630";
// }
//
// .icon-Seo_city:before {
// 	content: "\e631";
// }
//
// .icon-Seo_country:before {
// 	content: "\e632";
// }
//
// .icon-Seo_region:before {
// 	content: "\e633";
// }
//
// .icon-Social_facebook:before {
// 	content: "\e634";
// }
//
// .icon-Social_google:before {
// 	content: "\e635";
// }
//
// .icon-Social_twitter:before {
// 	content: "\e636";
// }
//
// .icon-Social_youtube:before {
// 	content: "\e637";
// }
//
// .icon-SRP_Airlines:before {
// 	content: "\e638";
// }
//
// .icon-SRP_airplane:before {
// 	content: "\e639";
// }
//
// .icon-SRP_Airports:before {
// 	content: "\e63a";
// }
//
// .icon-SRP_edit:before {
// 	content: "\e63b";
// }
//
// .icon-SRP_Filter:before {
// 	content: "\e63c";
// }
//
// .icon-SRP_info:before {
// 	content: "\e63d";
// }
//
// .icon-SRP_Multi_times:before {
// 	content: "\e63e";
// }
//
// .icon-SRP_Stopover:before {
// 	content: "\e63f";
// }
//
// .icon-SRP_Summary_airports:before {
// 	content: "\e640";
// }
//
// .icon-SRP_Summary_other_days:before {
// 	content: "\e641";
// }
//
// .icon-SRP_Times:before {
// 	content: "\e642";
// }
//
// .icon-SRP_train:before {
// 	content: "\e643";
// }
//
