@mixin font-family($map) {
  font-family: map-get($map, font-family);
}

@mixin text-color($map) {
  color: map-get($map, text-color);
}

@mixin secondary-color($map) {
  background: map-get($map, secondary-color);
}

@mixin primary-color($map) {
  background: map-get($map, primary-color);
}

@mixin background-color($map) {
  background: map-get($map, background-color);
}

@mixin foreground-color($map) {
  background: map-get($map, foreground-color);
}

@mixin border-color($map) {
  border: 1px solid map-get($map, secondary-color);
}

@mixin logo-background-color($map) {
  background: map-get($map, logo-background-color);
}

@mixin dimensions($map) {
  width: map-get($map, width);
  height: map-get($map, height);
  .qs-fill {
    height: map-get($map, height);
  }
}

@mixin submit-color($map) {
  background: map-get($map, submit-color);
}

@mixin inline-block() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
