@import "variables";
@import "mixins";

@import "global";
@import "grid";
@import "icons";

@import "banner";

@import "pikaday";
@import "autocomplete";

/* APPLY THEMES */
.cheaptickets-nl,
.cheaptickets-be,
.cheaptickets-de,
.cheaptickets-ch {
  @include theme($cheaptickets);
  @include pikaday($cheaptickets);
  @include awesomplete($cheaptickets);
}

.budget-air-nl,
.budget-air-uk,
.flugladen-at,
.flugladen-de {
  @include theme($budgetair);
  @include pikaday($budgetair);
  @include awesomplete($budgetair);
  i {
    display: none;
  }
}

.vliegwinkel-nl {
  @include theme($vliegwinkel);
  @include pikaday($vliegwinkel);
  @include awesomplete($vliegwinkel);
  i {
    display: none;
  }
}
