@mixin pikaday ($label) {
  &.pika-single {
    background: white;
    font-family: map-get($label, font-family);
    color: map-get($label, text-color);
    &.is-bound {
      position: absolute;
      border: 1px solid map-get($label, color-input-border);
    }

    .pika-button {
      color: map-get($label, text-color);
      background: white;
    }

    .is-selected .pika-button {
      background: map-get($label, color-ac-active);
      color: white;
    }

    .pika-button:hover {
      background: map-get($label, color-ac-hover);
    }

    .pika-week {
      color: #999;
    }

    .is-today .pika-button {
      color: #33aaff;
    }

    .is-disabled .pika-button {
      color: #999;
      opacity: .3;
    }
  }
}

/* 2.0 LAYOUT PIKADAY */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  &:after,
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  &.is-hidden {
    display: none;
  }
  &.is-bound {
    position: absolute;
  }

  .pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
  }

  .pika-title {
    position: relative;
    text-align: center;
  }

  .pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
  }
  .pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
  }

  .pika-prev,
  .pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: -9999px;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
  }

  .pika-prev:hover,
  .pika-next:hover {
    opacity: 1;
  }

  .pika-prev,
  .is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
  }

  .pika-next,
  .is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
  }

  .pika-prev.is-disabled,
  .pika-next.is-disabled {
    cursor: default;
    opacity: .2;
  }

  .pika-select {
    display: inline-block;
    *display: inline;
  }

  .pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
  }

  .pika-table th,
  .pika-table td {
    width: 14.285714285714286%;
    padding: 0;
  }

  .pika-table th {
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
  }

  .pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
  }

  .pika-week {
    font-size: 11px;
  }

  .is-today .pika-button {
    font-weight: bold;
  }

  .is-selected .pika-button {
    // font-weight: bold;
  }

  .is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    opacity: .3;
  }

  .pika-button:hover {
    box-shadow: none !important;
  }

  .pika-table abbr {
    border-bottom: none;
    cursor: help;
  }
}
