.qs-banner {
  .qs-tabs {
    ul {
      overflow: hidden;
      @include clearfix;
    }
    li {
      float: left;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 11px;
      list-style: none;
      overflow: hidden;
      padding: 3px 6px;
      margin-right: 2px;
      border-radius: $border-radius $border-radius 0 0;
      background-color: white;
    }
  }
}
