/* 1.0 GLOBAL SETTINGS */
$border-radius: 3px;
$large-border-radius: 6px;
// $font-family: 'Khand', Arial, sans-serif;
// $font-family-alt: 'Roboto', Arial, sans-serif;

/* 1.0 CHEAPTICKETS */
$cheaptickets: (
  font-family: ('Khand', Arial, sans-serif),
  font-family-alt: ('Roboto', Arial, sans-serif),
  color-bg: #d5e8f8,
  color-bg-dark: #0056a9,
  color-bg-well: white,
  text-color: #0056a9,
  text-color-input: #29425b,
  text-color-submit: #0056a9,

  color-input-bg: white,
  color-input-border: #c8def6,
  color-input-border-focus: #00b0ff,

  color-btn-top: #f6e500,
  color-btn-bottom: #f7de00,
  color-btn-border: #e6bb00,
  color-btn-shadow: rgba(black, .2),
  color-btn-shadow-hover: rgba(black, .1),

  color-ac-hover: #ebf5fd,
  color-ac-active: #00b0ff,
  color-ac-option: #597385
);

/* 2.0 BUDGET AIR */
$budgetair: (
  font-family: ('VAG Rounded Std', Arial, sans-serif),
  font-family-alt: ('Roboto', Arial, sans-serif),

  color-bg: #f5ecf5,
  color-bg-dark: #6a2d91,
  color-bg-well: white,
  text-color: #6a2d91,
  text-color-input: #29425b,
  text-color-submit: white,

  color-input-bg: white,
  color-input-border: lighten(#6a2d91, 50%),
  color-input-border-focus: #6a2d91,

  color-btn-top: lighten(#6E9F06, 5%),
  color-btn-bottom: darken(#6E9F06, 5%),
  color-btn-border: transparent,
  color-btn-shadow: transparent,
  color-btn-shadow-hover: transparent,

  color-ac-hover: #f5ecf5,
  color-ac-active: #6E9F06,
  color-ac-option: #597385
);

/* 3.0 VLIEGWINKEL */
$vliegwinkel: (
  font-family: ('Neo Tech', Arial, sans-serif),
  font-family-alt: ('Roboto', Arial, sans-serif),
  color-bg: rgba(black, .05),
  color-bg-dark: #1f4288,
  color-bg-well: white,
  text-color: #5e5e5e,
  text-color-input: #29425b,
  text-color-submit: white,

  color-input-bg: white,
  color-input-border: lighten(#1f4288, 50%),
  color-input-border-focus: #1f4288,

  color-btn-top: lighten(#9dd367, 5%),
  color-btn-bottom: darken(#77b738, 5%),
  color-btn-border: #77b738,
  color-btn-shadow: transparent,
  color-btn-shadow-hover: transparent,

  color-ac-hover: #ebf5fd,
  color-ac-active: #1f4288,
  color-ac-option: #597385
);


// $vliegwinkel: (
//   font-family: ("Neo Tech", Arial, sans-serif),
//   secondary-color: #01418a,
//   primary-color: #01418a,
//   background-color: #01418a,
//   foreground-color: white,
//   text-color: #01418a,
//   logo-background-color: #fff,
//   submit-color: #68b721
// );

/* 5.0 DIMENSIONS */
$banner: (
  width: 468px,
  height: 60px
);

$leaderboard: (
  width: 728px,
  height: 90px
);

$vierkant: (
  width: 250px,
  height: 250px
);

$grote-rechthoek: (
  width: 336px,
  height: 280px
);

$geintegreerde-rechthoek: (
  width: 300px,
  height: 250px
);

$skyscraper: (
  width: 120px,
  height: 600px
);

$brede-skyscraper: (
  width: 160px,
  height: 600px
);
